.learnmore-item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* equal halves */
  gap: 1rem;
  width: 100%;
  height: 100%;       /* stretch vertically */
  flex: 1;            /* allow it to grow inside flex parent */
  align-items: stretch; /* children stretch full height of the row */
}

.learnmore-label {
  text-align: right;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-secondary);
}

.learnmore-label:hover {
  text-decoration: underline;
}

.learnmore-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.learnmore-icon img,
.learnmore-img {
  max-height: 25px;
}

.ul{
  margin: 0px;
  padding: 0px;
}

ul.learnmore-list > li {
  margin-bottom: 1rem; /* or whatever size */
}
